* {
    margin:0;
}

.container{
    background-color: darksalmon;
    height:100%; 
}
.container .title,.container .header{
    text-align:center;
    padding-top:3%;
}
.container .header .todoInput{
    padding : 5px;
    font-size : 20px;
    border: 1px solid black;
    width: 40%;
    border-radius: 10px;
}
.toDo-Container{
    height:25%;
    margin-top:3%;
    overflow-y: auto;
    width:60%;
    margin: 5% auto;
}
.done-Container{
    margin-top:3%;
    height:25%;
    width:60%;
    overflow: auto;
    margin:auto;
}
.toDo-Container, .done-Container{
    text-align: left;

}
.toDo-Container ul,.done-Container ul{
    list-style: none;
}

.toDo-Container .done,.done-Container .done{
    display: none;
}

.input-image {
    height: 20px;
}