*{
    margin:0;
}

.container{
    background-color: darksalmon;
    height:100%; 
}
.container .title,.container .header{
    text-align:center;
    padding-top:3%;
}
.container .header .todoInput{
    padding : 5px;
    font-size : 20px;
    border: 1px solid black;
    width: 40%;
    border-radius: 10px;
}
.toDo-Container{
    height:25%;
    margin-top:2%;
    overflow: auto;
    width:60%;
margin: 5% auto;
    background-color: lightsalmon

}
.done-Container{
    margin-top:5%;
    height:20%;
    width:60%;
    overflow: auto;
    margin:auto;

    background-color: lightsalmon
}
.toDo-Container, .done-Container{
    text-align: center;
}
.toDo-Container ul,.done-Container ul{
    list-style: none;
}
.toDo-Container .done,.done-Container .done{
    display: none;
}